

{% extends 'bookstore\main.html' %}
{% load static %}

{% block monbloc %}
<h1> CREATE </h1>
<div class='container form-group'>
	<form method="POST"  action="">
		{% csrf_token %}
		{{ form.management_form }}
		<ul class='container'>
		{% for f in form %}
			
				<li style='list-style:none'><span class="bg-primary text-white">{{ f.label_tag }}</span> {{ f }}</li>
			
		{% endfor %}
		</ul>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</div>

{% endblock %}